/* Selector Universal */
*{
padding: 0;
margin: 0;
}

/* Selector id, se debe llamar igual que el id que aparece dentro de los div*/
#contenedor { /*todo lo que se llame contenedor respecto a los id*/
    /*width: 1534px;*/
    width: 0 auto;
    height: 708px;
    background-color: #D32F2F;
    max-width: 0 auto;
}

#encabezado {
    height: 5%;
    background-color: #66ccff;
    /*margin: 0.5em auto; /* es relativo al contenedor principal*/
    
}

#menu {
    height: 3%;
    background-color:   #ff7c39;
    margin: 0.5em auto;
    font-size: medium;
    
}

#contenido { /*contenido de las secciones, ARTICULOS*/
    height: 87%;
    width: 69%;
    background-color: blueviolet;
    /*margin: 0.5em;*/
   /* float: left;*/
   display: inline-block;
   margin-top: 0.3em;
   margin-left: 0.3em;
}

#fueraSección{
    height: 87%;
    width: 29%;
    background-color:#a167c9;
    margin: 0.5em;
    /*float: right;*/
    display: inline-block;
    vertical-align: top;
    margin-top: 0.3em;
    color: beige;
}

#pie {
    height: 5%;
    width: 100%;
    background-color: #66ccff;
    border-radius: 1em;
   /* margin-left: 0.2em*/
}

/* Selector de Class */
.texto {
    text-align: justify;
    font-family: Tahoma;
    font-size: medium;


}

.encabezado_articulo {
    text-align: center;
    background: #333;
    color: white;
    margin: auto 2em;

}

.imagen {
    display:block;
    border: 1px solid #ddd;
    margin-left: 37%;
    border-radius: 4px;
    padding: 5px;
    width: 275px;
    
}

/* Selector de Etiqueta HTML */
ul{
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}




